<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Your Website Title{% endblock %}</title>
    <scripts>{% block scripts %}{% endblock %}</scripts>
    <!-- Add your CSS links or stylesheets here -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Parking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('permits.get_permits') }}">Permits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">People</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
    {% block content %}
    <!-- This is where content from extended templates will be injected -->
    {% endblock %}
</div>

<!-- Add your JavaScript links or scripts here -->

</body>
</html>